<p>
  (Rough draft / chicken scratch)
  Emerging technoligies introduce new or revised tools and methods that redefine scientific research. These new tools and methods are often challenging to learn. In particular, computer-intensive methods such as bioinformatics tools are often difficult to learn. To help graduate students and post-docs learn these valuable tools, the American Society of Naturalists (ASN) Graduate Council (GC) is hosting a virtual workshop in mid- or late July 2020 that teaches participants the basics of these tools. All data used for this workshop are from <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4988878/">Tenaillon et al. (2016)</a>. Prior to the workshop, download these data from <a href="https://figshare.com/articles/Data_Carpentry_Genomics_beta_2_0/7726454">here</a>. This workshop is based on exercises from the Data Carpentry Genomics Workshop. For additional information about this Data Carpentry Workshop, <a href="https://datacarpentry.org/genomics-workshop/">click here</a>.
</p>
<p align="center">
  <br>
  <strong>To sign up for this workshop, <a href="https://asngrads.com/events/">click here</a>.</strong>
</p>
<p>
  <br>
  This workshop is based on exercises from the Data Carpentry Genomics Workshop. <a href="{{site.dc_site}}">Data Carpentry</a>
  develops and teaches workshops on the fundamental data skills needed to conduct
  research. Its target audience is researchers who have little to no prior computational experience, 
  and its lessons are domain specific, building on learners' existing knowledge to enable them to quickly 
  apply skills learned to their own research.
  Participants will be encouraged to help one another
  and to apply what they have learned to their own research problems. For additional information about the Data Carpentry Genomics
  Workshop, <a href="https://datacarpentry.org/genomics-workshop/">click here</a>.
</p>
<hr style="height:1px;border-width:0;color:black;background-color:black">